:root {
    --main-background-color: #ffffff;
    --main-text-color: #000000;
    --main-background-image: url();
    --navbar-background-color: #b0e0e6;
    --navbar-text-color: #000000;
    --link-color: #892be2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    min-height: 100%;
}

body {
    background-image: var(--main-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    min-height: 100%;
}

a {
    text-decoration: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    height: 70px;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a {
    padding: 1rem;
    color: var(--navbar-text-color);
}

#navbar ul li a:hover {
    opacity: 0.4;
    border-radius: 4px;
}

.smaller-font {
    font-size: small;
}

p {
    line-height: 30px;
}
.div-normal {
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
    padding: 12px;
}
.div-space {
    padding: 12px;
    margin: 12px;
}

textarea {
    resize: none;
}
.bigger-button {
    height: 5rem;
    width: 12rem;
    text-align: center;
    border-radius: 5px;
}
.bigger-widther-button {
    height: 5rem;
    width: 20rem;
    text-align: center;
    border-radius: 5px;
}
.link-color {
    color: var(--link-color);
    text-decoration:underline;
}

button:hover {
    background-color: powderblue;
}

button:active {
    background-color: red;
}

#output {
    color: green;
}

.canvasjs-chart-credit {
    display: none;
}
